/****************************
 * DESKTOP FIRST
****************************/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

/* GENERAL SETTINGS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Comfortaa', sans-serif;
  color: rgba(153, 153, 153, .7);
}

/* TYPOGRAPHY */

h2,
h4,
h5 {
  font-weight: 400;
  color: #fff;
}

h2 {
  font-size: 28px;
}

h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

h5 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

a {
  font-size: 14px;
  text-decoration: none;
  color: rgba(153, 153, 153, .7);
  transition: color .5s;
}

a:hover {
  color: #fff;
}

/* UTILITIES */

.txt-center {
  text-align: center;
}

ul.h-list {
  display: flex;
  align-items: center;
  list-style: none
}

ul.h-list.center {
  justify-content: center;
  flex-wrap: wrap;
}

ul.h-list.center li {
  margin: 10px 20px;
}

ul.v-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 20px 0;
}

ul.v-list li {
  margin: 5px 0;
}

.d-flex.vertical-center {
  align-items: center;
}

.img-responsive {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

/* BUTTONS */

.btn {
  cursor: pointer;
  border: 1px solid transparent;
  padding: 15px 40px;
}

.btn-outline {
  border-radius: 40px;
  color: #fff;
  border:solid 1px;
  transition: transform .3s;
}

.btn-outline:hover {
  transform: scale(1.1);
}

/* APP */

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* MAIN WINDOW */

.main-window {
  flex-grow: 1;
  display: flex;
  background: #141921;
}

/* NAVBAR LEFT */

.navbar-left {
  display: flex;
  flex-basis: 230px;
  flex-direction: column;
  padding-top: 20px;
  background: #000;
}

/* NAVBAR LEFT MENU */

.navbar-left-menu {
  flex-grow: 1;
}

.navbar-left-menu h5 {
  margin-left: 20px;
}

.navbar-left-menu .navbar-logo {
  margin-left: 20px;
  max-width: 130px;
}

.navbar-left-menu .navbar-logo.mobile {
  height: 40px;
  display: none;
}

.navbar-left-menu ul li {
  padding: 0 20px;
}

.navbar-left-menu ul li {
  border-left: solid 1px transparent;
  transition: border .5s;
}

.navbar-left-menu ul li:hover {
  border-left: solid 4px #6D00F8;

}

.navbar-left-menu ul li.active {
  border-left: solid 4px #6D00F8;

}

.navbar-left-menu ul li .fa-plus {
  background: #fff;
  color: #000;
  font-size: 20px;
  padding: 10px;
  margin-right: 5px;
}

.navbar-left-menu ul img {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  margin-right: 10px;
}

.navbar-left-menu .nav span {
  display: inline-block;
  vertical-align: middle;
}

/* NAVBAR LEFT USER */

.navbar-left-user {
  padding: 20px 20px 0;
}

.navbar-left-user i {
  margin-right: 5px;
}

.navbar-left-user .install {
  padding-bottom: 15px;
  text-align: center;
  display: inline-block;
}

.navbar-left-user .user {
  display: flex;
  align-items: center;
  border-top: solid 1px #999;
  padding: 15px 0 10px;
}

.navbar-left-user .user img {
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  background: #999;
  border-radius: 50%;
}

.navbar-left-user .user h6 {
  display: inline-block;
  color: #fff;
  font-size: 15px;
}

/* SCROLLABLE WINDOW */

.scrollable-container {
  position: relative;
  flex-grow: 1;
}

.scrollable-header {
  display: flex;
  justify-content: flex-end;
  align-items:center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100px;
  width: 100%;
  padding-right: 20px;
  background: rgba(0, 0, 0, .5);
}

/* SCROLLABLE CONTENT */

.scrollable-content {
  position: absolute;
  padding: 50px 20px 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.albums-container {
  margin: 30px 0;
  padding-top: 3vh;
}

.albums-row {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.albums-item {
  width: calc((100% / 6) - 20px);
  margin: 10px;
  cursor: pointer;
}

.albums-item:first-child {
  margin-left: 0;
}

.albums-item.rounded img {
  border-radius: 50%;
}

.img-album {
  position: relative;
}

.albums-item img {
  filter: opacity(1);
  transition: filter .5s;
}

.albums-item:hover img {
  filter: opacity(.5);
}

.albums-item i {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -20%);
  opacity: 0;
  transition: transform .5s,
              opacity .5s
}

.albums-item:hover i {
  transform: translate(-50%, -50%);
  opacity: 1;
  font-size: 18px;
  font-family: "Comfortaa";
  font-weight: bold;
  transition: transform .5s,
              opacity .5s,
              color .5s;
}

.albums-item:hover i:hover {
  color: #6D00F8;
  font-family: "Comfortaa";
  font-weight: bold;
}

.albums-item img {
  margin-bottom: 10px;
}

.albums-item p {
  font-size: 12px;
}

/* FOOTER */

.player i {
  font-size: 18px;
}

.player h4 {
  margin-bottom: 0;
}

.player h4 a {
  color: #fff;
  font-size: 14px;
}

/* PLAYER */
.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #272727;
}

.player-song {
  position: relative;
  display: flex;
  align-items: center;
  flex-basis: 270px;
  padding: 25px 0 25px 10px;
}

.player-song .song-info {
  display: flex;
  align-items: center;
}

/* MEDIA QUERY */
/* TABLET */
@media screen and (max-width: 1024px) {

  /* GENERAL SETTINGS */

  /* TYPOGRAPHY */

  h2 {
    font-size: 26px;
  }

  h4 {
    font-size: 18px;
  }

  /* SCROLLABLE CONTENT */

  .albums-item {
    width: calc((100% / 4) - 20px);
  }
}

/* SMARTPHONE */
@media screen and (max-width: 600px) {

  /* NAVBAR LEFT */
  .navbar-left {
    flex-basis: 60px;
  }

  .navbar-left-menu .nav span,
  .navbar-left-menu h5,
  .navbar-left-user span,
  .navbar-left-user h6,
  .navbar-left-menu .navbar-logo.desktop {
    display: none;
  }

  .navbar-left-user {
    text-align: center;
  }

  .navbar-left-user .user {
    border-top: none;
  }

  .navbar-left-user .user img {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .navbar-left-menu .navbar-logo.mobile {
    display: block;
  }

  /* SCROLLABLE CONTENT */

  .albums-item {
    width: calc((100% / 2) - 20px);
  }
}

/* Recherche */

#searchbar{
   margin-top: 2vh;
   margin-left: 2%;
   margin-right: 1%;
   padding: 1.5vh;
   border-radius: 1vh;
 }

.submit{
  color: white;
  border: 1px solid #6D00F8;
  background-color: transparent;
  padding: 1.5vh 2.5vh;
  border-radius: 1vh;
}

.submit:hover{
  color: white;
  border: 1px solid white;
  background-color: #6D00F8;
}

 input[type=text] {
    width: 30%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
 }

 /* When the input field gets focus,
      change its width to 100% */
 input[type=text]:focus {
   width: 70%;
 }

 #new-title{
   margin-top: 3vh;
   margin-left: 2%;
 }

 #new-title2{
   margin-top: 25vh;
   margin-left: 2%;
 }

 .soustitre{
   margin-left: 3%;
   margin-top: 1vh;
 }

.boutonradio{
  margin-top: 2vh;
  margin-left: 2%;
}

label{
  padding-right: 1vh;
  padding-left: 3vh;
}


.resultat_recherche{
  justify-content: center;
  margin-top: 3%;
  margin: 3% 2.5%;
  border-top: solid 2px rgb(153,153,153);
}

.tableau_resultat{
    width: 100%;
    margin-top: 1vh;
    vertical-align: middle;
}

.tableau_resultat tr{
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: grey;
    font-weight: lighter;
    font-size: 12px;
    font-style: normal;
    text-align: left;
    width: 15%;
}

.tableau_resultat th{
    margin-bottom: 1vh;
}

.tableau_resultat td{
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    color: white;
}

.big-td{
  width: 15%;
}

.normal-td{
  width: 9%;
}

.little-td{
  width: 4%;
}

.tableau_resultat td img{
    width: 7vh;
    height: auto;
    vertical-align: middle;
    border-radius: 200px;
}

.pic-coach-rdv{
    padding-right: 1vh;
}

.tableau_resultat button{
  width: 80%;
  color: #6D00F8;
  font-family: "Comfortaa";
  font-weight: bold;
  background-color: transparent;
  border: 1px solid #6D00F8;
  justify-content: center;
  border-radius: 30px;
  padding: 1.5vh;
}

.tableau_resultat button:hover{
  color: white;
  background-color: #6D00F8;
  border: 1px solid white;
}

/* SLIDER */

/* *, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
} */

.slider__warpper{
  margin-top: 15vh;
  padding-top: 10vh;
}

.slider__navi {
	position: absolute;
	top: 30%;
	right: 20px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	z-index: 4;
}

.slider__navi a {
	display: block;
	height: 6px;
	width: 20px;
	margin: 20px 0;
	text-indent: -9999px;
	box-shadow: none;
	border: none;
	background: rgba(0,0,0,0.2);
}

.slider__navi a.active {
	background: rgba(255,255,255,1);
}

.flex__container {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-o-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: flex-start;
	-moz-justify-content: flex-start;
	-ms-justify-content: flex-start;
	-o-justify-content: flex-start;
	justify-content: flex-start;
	width: 100%;
}

/* .flex__container.flex--active {
	z-index: 2;
} */

.text--sub {
	font-size: 14px;
	letter-spacing: 0.5rem;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.text--big {
	font-family: 'Comfortaa', sans-serif;
	font-size: 6em;
	font-weight: 700;
  margin-left: -8px;
}

.text--semibig {
	font-family: 'Comfortaa', sans-serif;
	font-size: 3em;
	font-weight: 700;
  margin-left: -8px;
}

.text--normal {
	font-size: 13px;
	color: rgba(255, 255, 255, 1);
	line-height: 22px;
	margin-top: 25px;
}

.text__background {
	font-family: 'Comfortaa', sans-serif;
	position: absolute;
	left: 72px;
	color: rgba(0,0,0,0.05);
	font-size: 170px;
	font-weight: 700;
}

.flex__item {
	height: 50vh;
	color: #fff;
	transition: transform 0.1s linear;
}

.flex__item--left {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	width: 65%;
	transform-origin: left bottom;
	transition: transform 0.1s linear 0.4s;
	opacity: 0;
	position: relative;
	overflow: hidden;
}

.flex__item--right {
	width: 35%;
	transform-origin: right center;
	transition: transform 0.1s linear 0s;
	opacity: 0;
}

.flex--preStart .flex__item--left,
.flex--preStart .flex__item--right,
.flex--active .flex__item--left,
.flex--active .flex__item--right {
	opacity: 1;
}

/* Piplup */

.flex--piplup .flex__item--left {
	background: #3e9fe6;
}

.flex--piplup .flex__item--right {
	background: #d3eaef;
}

/* Pikachu */

.flex--pikachu .flex__item--left {
	background: #6D00F8;
}

.flex--pikachu .flex__item--right {
	background: #AF00FF;
}

/* Blaziken */

.flex--blaziken .flex__item--left {
	background: #f64f37;
}

.flex--blaziken .flex__item--right {
	background: #ffebcd;
}

/* Dialga */

.flex--dialga .flex__item--left {
	background: #476089;
}

.flex--dialga .flex__item--right {
	background: #ade8f7;
}

/* Zekrom */

.flex--zekrom .flex__item--left {
	background: #424242;
}

.flex--zekrom .flex__item--right {
	background: #a7bcbb;
}

.flex__content {
	margin-left: 80px;
	width: 55%;
	opacity: 1;
	transform: translate3d(0,0,0);
	transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s;
}

.pokemon__img {
	position: absolute;
	right: 15%;
	max-height: 24vw;
	opacity: 1;
	transform: translate3d(0,0,0);
	transition: opacity 0.25s 0.4s, transform 0.3s 0.4s cubic-bezier(0, 0.4, 0.3, 0.45);
}

/* Animate-START point */

.flex__container.animate--start .flex__content {
	transform: translate3d(0,-200%,0);
	opacity: 0;
}

.flex__container.animate--start .pokemon__img {
	transform: translate3d(-200px,0,0);
	opacity: 0;
}

/* Animate-END point */

.flex__container.animate--end .flex__item--left {
	transform: scaleY(0);
}

.flex__container.animate--end .flex__item--right {
	transform: scaleX(0);
}

.flex__container.animate--end .flex__content {
	transform: translate3d(0,200%,0);
	opacity: 0;
}

.flex__container.animate--end .pokemon__img {
	transform: translate3d(200px,0,0);
	opacity: 0;
}

/* AJOUT DISPOS */

.formulaire{
  margin-left: 3%;
  margin-top: 2%;
  width: 1000px;
  height: 300px;
  background: #272727;
  border-radius: 38px;
}

#connexion{
  height: 250px;
}

.LigneForm{
  padding: 1.5vh 4vh;
}

#searchbar2{
   margin-top: 2vh;
   padding: 1vh;
   border-radius: 1vh;
 }

#payer{
  padding-right: 5vh;
  padding-left: 5vh;
  margin-left: 45%;
  transform: translateX(-45%); /* Pour éviter que le champs soit trop décalé */
}

#connecter{
  padding-right: 5vh;
  padding-left: 5vh;
  margin-left: 3%;
  margin-top: 1vh;
}


/* INSCRIPTION */
#form2{
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 1000px;
  height: 600px;
  margin-left: 6%;
}

fieldset{
  border:0px;
}

#Pays{
  margin-top: 2vh;
  padding: 1vh;
}
